<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gulosity="http://www.opdar.com/schema/gulosity"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.opdar.com/schema/gulosity
       http://www.opdar.com/schema/gulosity.xsd">

    <context:component-scan base-package="test"/>

    <gulosity:context serverId="10" id="gulosity-context" host="192.168.1.147" port="10912" userName="root"
                      passWord="123456"
                      defaultDatabaseName="mysql">
        <gulosity:listeners>
            <gulosity:listener class="test.TestListener"/>
        </gulosity:listeners>
        <gulosity:mapping package="test"/>
        <gulosity:server port="12034" disk-path="file.dat" max-size="10241"/>
    </gulosity:context>

    <gulosity:client id="gulosity-client" host="localhost" port="12034" uid="333">
        <gulosity:listeners>
            <gulosity:client-callback class="com.opdar.gulosity"/>
        </gulosity:listeners>
    </gulosity:client>
</beans>