<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gulosity="http://www.opdar.com/schema/gulosity"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://www.opdar.com/schema/gulosity
       http://www.opdar.com/schema/gulosity.xsd">

    <context:component-scan base-package="test"/>

    <gulosity:context serverId="10" id="gulosity" host="192.168.1.147" port="10912" userName="root" passWord="123456"
                      defaultDatabaseName="mysql">
        <gulosity:listeners>
            <gulosity:listener class="test.TestListener"/>
            <gulosity:listener class="com.opdar.gulosity.replication.listeners.StoreRowListener"/>
        </gulosity:listeners>
        <gulosity:mapping package="test" />
    </gulosity:context>
</beans>